@media(max-width: 1200px) {
    .error-page .error-body {
        padding-top: 150px;
    }
    .error-page .error-body a {
        display: block;
        width: 60%;
        margin:20px auto;

    }
    .error-page .error-body a:nth-of-type(1) {
        margin-top: 60px;
    }

    .forget p{
        padding:0 30px;
    }

    .avater-info-content-left{
        position:fixed !important;
        top:90px !important;
        width:30% !important;
    }
}

@media(max-width:992px) {
    .header .navbar-header {
        width: 100%;
    }
    .slider-social a {
        display: inline-block;
    }
    .navbar .navbar-searchform {
        transform: translateY(10px);
    }
    .slider-social .list-unstyled {
        display: none;
    }
    .course-body .course-body-content div.course-body-section ul li {
        float: none;
        width: 100%;
    }
    .course-body .course-body-content {
        padding: 20px;
    }
    a .preview-details .preview {
        padding-right: 10px;
    }
    .signup-image img {
        margin-top: 85px;
    }
    .video-details .video-body h3 {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    .video-details .video-body p {
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }
    .video-details .video-play {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-top: 50px;
    }

    .portfolio-background{
        height:280px;
    }
    .portfolio-content .portfolio-avater{
        width:150px;
        height:150px;
    }
    .portfolio-content{
        top:-150px
    }
    .portfolio-background .portfolio-change-background a{
        display: none;
    }
    .achieve-site .achieve-body h3 {
        font-size: 18px;
        line-height: 60px;
    }
    .achieve-site .achieve-header>p{
        padding:0;
    }
    .achieve-site .achieve-body p {
        font-size: 14px;
        text-align: center;
    }
    .home-slider .item .home-content h5 {
        font-size: 15px;
        font-style: unset;
        text-transform: unset;
    }
    .home-slider .item .home-content p {
        font-size: 14px;
    }
    .add_course_links{
        position: relative;
        width: auto;
        min-height:auto;
        margin-bottom:50px;
    }

    .content_search ul{
        display: block;
        max-height: 300px;
        overflow: hidden;
        overflow-y: visible;
    }
}

@media(min-width: 992px) {
    .navbar-slider .list-unstyled {
        display: none;
    }
}

@media(max-width:768px) {
    
    .paginationss li a {
        width: 30px;
        height: 30px;
    }
    .paginationss {
        margin-left: 5px;
        margin-right: 5px;
    }
    .home-slider .owl-dots {
        position: relative;
        margin-top: -60px !important;
        top: 0;
        left: 0;
    }

    .home-slider .owl-dots button {
        display: inline-block !important;
        margin-right: 7px;
    }
    .portfolio-details{
        padding-top:100px;
    }
    .courses-img img{
        height:200px
    }

    .error{
        width:100%;
    }
    .content_video_article{
        padding:0;
        margin-top:20px;
    }

    .Adding_course_sections .tab-content{
        padding: 0 0 40px 0;
    }
    .title_adding_course{
        padding: 20px 20px 0 0;
    }
    .widget-details .widget-title:after, .share-course .share-title:after{
        left:38%;
    }

    .avater-info-content-left{
        position:relative !important;
        top:0 !important;
        width:auto !important;
    }
    .review{
        margin-bottom: 30px;
    }

    .content_search ul{
        max-height: 250px;
    }
    .testmonials .owl-carousel .testmonials-body .item-image{
        margin-left: -40px;
    }
    .section_scribe{
        text-align: center;
    }
    .button_scribe .tooltip_course{ 
        right:0px;
        width:50%;
    }
    .button_scribe .tooltip_course::after{
        left:50%;
        margin-left:0;
    }
    #pagination{
        margin:10px auto;
    }
}

@media(min-width:768px) {
    .courses-list-img {
        width: 70%;
        height:auto;
        position:relative;
    }
    .courses-list-img img {
        position: absolute;
        top:0;
        right:0;
        height: 100%;
        background-size: cover;
    }
    
}

@media(max-width: 576px) {
    .section-popular-teacher .owl-theme .owl-nav {
        opacity: 0;
    }
    .input-group-prepend{
        width:100% !important;
    }
    .input-group-text{
        width: 100%;
        border: 0;
        margin-bottom: 10px;
    }
     div.url-input input[type="text"]{
         border-radius: 0 !important;
    }
    .footer-section{
        text-align:center;
        height:auto;
        line-height: normal;
    }
    .footer-section span{
        display:block;
        padding:8px 0;
        font-size: 13px;
    }
    .footer-section span:last-child{
        float: none;
    }
    .content_search ul{
        max-height: 250px;
    }

    .lesson_list_content>span:nth-of-type(1){
        display: block;
    }
    .lesson_list_content>span:nth-of-type(2){
        display: block;
        text-align: center;
        margin-top: 15px;
        float: none;
    }
    .achieve_h3{
        font-size: 16px;
    }
    .achieve-site .achieve-header>p{
        font-size:14px;
    }
    .achieve-site .achieve-body h3{
        font-size:15px;
        width:40px;
        height:40px;
        line-height: 40px;
    }
    .about-header .header-body p{
        padding:0 20px;
        margin-top:10px;
    }
    h3.scribe_h3{
        margin-left:30px;
    }
    .section_scribe input[type="submit"]{
        margin-top:40px;
    }
    .button_scribe .tooltip_course{ 
        top:8px;
        right:100px;
    }
}